form
  .form-group
    margin-bottom: 2rem

  .label
    color: #667085
    font-size: 12px
    margin-bottom: 1rem

  input.form-control
    border: 1px solid #D0D5DD
    border-radius: 16px
    width: 100%
    height: 56px
    padding: 16px

.filter-btn 
  @apply fixed bottom-[11%] right-0 w-[100vw] md:w-auto bg-white md:bg-transparent md:relative