.search
  @apply relative

  &-input
    width: 388px
    height: 48px
    @apply flex items-center justify-between border-2 border-gray-300 rounded-full overflow-hidden pl-4 pr-6 relative z-50 bg-transparent transition hover:border-primary focus:border-primary

  &-icon
    top: 50%
    transform: translateY(-50%)
    @apply absolute right-4
